/************Font Formatting************/
/*Roboto*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/*Roboto Slab*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/*Merriweather*/
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
/************End of Font Formatting************/

/************General Formatting************/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*Format smooth scrolling behavior*/
html {
    scroll-behavior: smooth;
}
/************End of general formatting************/

/************Animation Formatting************/
@keyframes fadedown {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes textTyping {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes blink-caret {
    from, to {
        border-color: transparent;
    }
    50% {
        border-color: lightblue;
    }
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
/************End of Animation Formatting************/

/************Root formatting************/
:root {
    --navigation-font: 'Roboto', sans-serif;
    --footer-font: 'Roboto Slab', sans-serif;
    --section-title-font: 'Merriweather', sans-serif;
}
/************Header formatting************/

/*Format nav bar brand img*/
.navbar-brand img {
   width: 60px;
}

/*Format nav bar links*/
.nav-item {
    font-family: var(--navigation-font);
    font-size: 1.4em;
}
/************End of Header formatting************/

/************Section formatting************/

.heroSection {
    position: relative;
    width: 100%;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
}

/*Format video background*/
.videoBackground {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    object-fit: cover;
    z-index: -1;
}

/*Format video overlay*/
.videoOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 0;
}

/*Format hero content*/
.heroContent {
    position: relative;
    z-index: 1;
}

/*Format hero content h2*/
.heroContent h2 {
    font-family: var(--secondary-round-font);
    font-size: var(--second-font-size);
    color: white;
    padding: 20px;
    font-size: 1.6em;
}

/*Format hero content h2 span*/
.heroContent h2 span {
    color: #BDFFFD;
}

/*Format h2 type animation*/
.typeWriter {
    animation: textTyping 3.5s steps(40, end),
    blink-caret 1s step-end infinite;
    overflow: hidden;
    white-space: nowrap;
    border-right: 10px solid lightcyan;
    margin: 0 auto;
}

/*Format hero content a*/
.heroContent a {
    font-family: var(--navigation-font);
    font-size: 1em;
    font-weight: bolder;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #BDFFFD;
    color: black;
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px 20px;
    border-radius: 100px;
    animation: appear 1s ease-in;/*Create appear animation*/
}

section {
    text-align: center;
    padding: 20px;
}

/*Format section titles*/
section h2 {
    font-family: var(--section-title-font);
    font-weight: bold;
    font-size: 1.5em;
}
/**Project Formatting**/

/*Create box shadow*/
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*Format card button*/
.card a {
    border-radius: 50px;
    font-size: 1.3em;
}

/************Footer formatting************/
footer {
    text-align: center;
    background-color: #f9f9fb;
    padding: 10px;
}

/*Format footer p text*/
footer p {
    font-family: var(--footer-font);
    font-size: 0.8em;
}
/************Footer formatting************/
