/************General Formatting************/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*Format body waves*/
body {
    background: linear-gradient(253deg,#fe7263,#3fddbe,#bf4788,#8a4d07);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
    background-attachment: fixed;
}
/************End of general formatting************/

/************Keyframe Formatting************/
@keyframes gradient-animation {
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}

@keyframes fadeDown {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
/************End of Keyframe Formatting************/

/************Font Face Formatting************/
@font-face {
    font-family: 'VarelaRound-Regular';
    src: url(../fonts/VarelaRound-Regular.ttf);
}

@font-face {
    font-family: 'MPLUSRounded1c-Regular', sans-serif;
    src: url(../fonts/MPLUSRounded1c-Regular.ttf);
}

@font-face {
    font-family: 'MPLUSRounded1c-ExtraBold', sans-serif;
    src: url(../fonts/MPLUSRounded1c-ExtraBold.ttf);
}
/************End of Font Face Formatting************/

/************Root Formatting************/
:root {
    --primary-title: 'VarelaRound-Regular', sans-serif;/*Font family for h1 tag*/
    --primary-font-size: 5em;/*Primary font size*/
    --label-font-family: 'MPLUSRounded1c-Regular', sans-serif;/*Font family for labels*/
    --submit-btn-font: 'MPLUSRounded1c-ExtraBold', sans-serif;/*Font family for submit button*/
    --footer-title: monospace;/*Font family for footer*/
    --footer-font-size: 2em;/*Footer font size*/
}
/************End of Root Formatting************/

/************Header Formatting************/
header {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h1 {
    font-family: var(--primary-title);
    font-size: var(--primary-font-size);
    color: white;
}

/*Format hamburger menu*/
.bx-menu {
    padding: 10px;
    font-size: 7em;
    border: 5px solid black;
    border-radius: 8px;
}
/************End of Header Formatting************/

/************Form Formatting************/
form {
    width: 90%;
    margin: 0 auto;
    margin-top: 50px;
    background-color: white;
    border-radius: 10px;
    padding: 50px;
    animation: fadeDown 1s ease-in-out;/*Create fade down animation*/
}

/*Format form title*/
form h2 {
    font-family: var(--primary-title);
    font-size: 3em;
    color: black;
    text-align: center;
    margin-bottom: 25px;
}

/*Format form labels*/
label {
    font-family: var(--label-font-family);
    font-size: 4em;
}

/*Format radio container*/
.radioContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}

/*Format radio labels*/
.radioLabel {
    font-family: var(--label-font-family);
    font-size: 2em;
    margin: 0 10px;
    text-transform: capitalize;
}

/*Format form inputs*/
input {
    margin-bottom: 15px;
}

/*Format select*/
select {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100%;
    font-size: 4em;
    border-radius: 8px;
    border: 2px solid black;
}

/*Format option in select*/
option {
    font-size: 20px;
}

/*text inputs*/
input[type="text"]{
    margin-top: 15px;
    width: 100%;
    font-size: 4em;
    border-radius: 8px;
    border: 2px solid black;
    padding-left: 15px;
}

/*Email inputs*/
input[type="email"]{
    margin-top: 15px;
    width: 100%;
    font-size: 4em;
    border-radius: 8px;
    border: 2px solid black;
    padding-left: 15px;
}

/*Phone number inputs*/
input[type="tel"]{
    margin-top: 15px;
    width: 100%;
    font-size: 4em;
    border-radius: 8px;
    border: 2px solid black;
    padding-left: 15px;
}

/*Format radio input*/
input[type="radio"] {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100%;
    transform: scale(2.3);/*Change scale of input buttons*/
}

/*Textarea inputs*/
textarea {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100%;
    font-size: 3em;
    border-radius: 8px;
    border: 2px solid black;
    padding-left: 15px;
}

/*Format button container*/
.buttonContainer {
    text-align: center;
}

/*Format submit button*/
input[type="submit"] {
    margin-top: 20px;
    display: inline-block;
    width: 100%;
    padding: 20px;
    font-size: 4em;
    font-family: var(--submit-btn-font);
    font-weight: bolder;
    text-transform: uppercase;
    border: none;
    border-radius: 10px;
    background-color: #dd7973;
    color: white;
}
/************End of Form Formatting************/
/************Footer Formatting************/
footer {
    margin-top: 25px;
    padding: 20px;
    text-align: center;
    font-size: var(--footer-font-size);
    font-family: var(--footer-title);
    color: white;
}
/************End of Footer Formatting************/



/************Media Query Formatting************/

/**Desktop View**/
@media screen and (min-width: 1300px) {

    /*Format form tag*/
    form {
        width: 45%;
    }


    /*Format form labels*/
    label {
        font-size: 2em;
    }

    /*Format input sizes*/
    input[type="text"],
    input[type="email"],
    input[type="tel"],
    select,
    textarea {
        font-size: 2em;
    }

    /*Format radio container*/
    .radioContainer {
        margin-bottom: 15px;
    }
    /*Format submit button*/
    input[type="submit"] {
        font-size: 3em;
        transition: 0.5s ease-in;/*Create hover transition*/
    }

    /*Format submit button on hover*/
    input[type="submit"]:hover {
        background: transparent;
        border: 2px solid #dd7973;
        color: #dd7973;
        box-shadow: 0 0 10px black;
    }
}
/************End of Media Query Formatting************/

