/********************Font Formatting********************/
/*Import M Plus round font*/
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap');

/*Import Nunito San*/
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

/*Import Barlow*/
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/********************End of Font Formatting********************/

/********************Root Formatting********************/
:root {
    --primary-font: 'M Plus Rounded 1c', sans-serif;
    --primary-font-size: 1.6em;
    --navigation-link-font: monospace;
    --navigation-font-size: 1.4em;
    --footer-font: 'Nunito Sans', sans-serif;
    --footer-sub-font: 'Barlow', sans-serif;
}
/********************End of Root Formatting********************/

/********************General Formatting********************/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*Format main background*/
body {
    background-image: url(../images/beautiful-clouds-digital-art.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/*Format scrolling behavior*/
html {
    scroll-behavior: smooth;
}
/********************End of General Formatting********************/

/********************Header Formatting********************/

/**Navbar formatting**/

/*Format nav bar brand color*/
.navbar-brand {
    color: orange;
    font-family: var(--primary-font);
    font-size: var(--primary-font-size);
    font-weight: bold;
}

/*Format nav links*/
.nav-link {
    font-family: var(--navigation-link-font);
    font-size: var(--navigation-font-size);
    color: white;
}

/*Format nav bar collapse*/

/*Format box menu icon*/
.navbar-toggler {
    border: 2px solid white;
}
/********************End of Header Formatting********************/

/********************Section Formatting********************/

/**Weather Formatting**/
.weatherContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 25px;
}

/*Format weather content*/
.weatherContent {
    background-color: #0d6efd;
    width: 100%;
    padding: 5%;
    border-radius: 12px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.weatherContent h2 {
    font-family: var(--primary-font);
    font-size: 2em;
    font-weight: bold;
    color: white;
    letter-spacing: 2px;
}

/*Format weather content search input*/
.weatherBox {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.weatherBox input {
    border: none;
    outline: none;
    border-radius: 12px;
    padding: 10px;
    background-color: #f8f9fa;
}

/*Format weather content search button*/
.weatherBox button {
    border: none;
    outline: none;
    border-radius: 50%;
    width: 50px;
    padding: 10px;
    background-color: #f8f9fa;
    margin-left: 10px;
    font-size: 1.3em;
}

/*Format weather result container*/
.weatherResult {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    padding: 5%;
    border-radius: 12px;
    background-color: #304c89;
    display: none;
}

/*Format weather result img*/
.weatherResult img {
    width: 50%;
    margin: 20px 0;
}

/*Format weatherResult h3 title*/
.weatherResult h3 {
    font-family: var(--primary-font);
    font-size: 2.5em;
    font-weight: bold;
    color: white;
    letter-spacing: 2px;
    text-decoration: underline;
}

/*Format weather result p tag*/
.weatherResult p {
    font-family: var(--primary-font);
    font-size: 1.2em;
    color: white;
    letter-spacing: 2px;
    text-align: left;
    margin-top: 25px;
}

/**About Formatting**/
.aboutContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 25px;
}

/*Format about text*/
.aboutContent {
    text-align: center;
    background-color: #304c89;
    padding: 5%;
    border-radius: 12px;
}

.aboutContent h2 {
    font-family: monospace;
    font-size: 2em;
    color: white;
    text-align: left;
}

/*Format about content img*/
.aboutContent img {
    width: 40%;
    margin: 20px 0;
}

/*Format about coontent p*/
.aboutContent p {
    font-family: var(--primary-font);
    text-align: left;
    line-height: 2;
    letter-spacing: 2px;
    color: white;
    font-size: 0.9em;
}


/********************Footer Formatting********************/
Footer {
    text-align: center;
    background-color: #0d6efd;
    padding: 10px;
    color: white;
    font-family: var(--footer-font);
    font-size: 0.8em;
}

/*Format footer p tag*/
footer p {
    margin-top: 25px;
}

/*Format accordion*/
.accordion {
    --bs-accordion-bg: #0d6efd;
}
/*Format accordion button font*/
.accordion-button {
    font-size: 1em;
    font-family: var(--footer-font);
    font-weight: bold;
    color: orange;
    text-decoration: underline;
}

/*Delete button focus*/
.accordion-button:focus {
    box-shadow: none;
}

/*Delete color from button active state*/
.accordion-button:not(.collapsed) {
    color: orange;
    background-color: #0d6efd;
}

/*Format accordion body list*/
.accordion-body ul {
    list-style-type: none;
    text-align: left;
    line-height: 2;
    letter-spacing: 2px;
    color: white;
    font-size: 0.9em;
}

/*Format list items*/
.accordion-body li a {
    font-family: var(--footer-sub-font);
    font-size: 2em;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

/********************End of Footer Formatting********************/
